
build

node_modules
private

# native
bgzip
htsfile
tabix
sam
hfile
test-*
test_view
fieldarith
*.pico
version.h
ace2sam
maq2sam-long
maq2sam-short
md5fa
md5sum-lite
wgsim
vcf-miniview
hpg-bigdata-core/native/third-party/samtools/samtools

# General
*.jar
*.war
*.o
*.lib
*.a
*.so
*.so.*
*.out
*.log


# Maven
target/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/


# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


